<!-- views/pages/virtual_machine.ejs -->

<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="page home-page">
    <header class="header">
      <% include ../partials/header %>
    </header>
    <div class="page-content d-flex align-items-stretch">
      <% include ../partials/sidenav %>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Environment for developing</h2>
            </div>
          </header>
          <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dev. Environment</li>
            </div>
          </ul>
          <section class="forms">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                      <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Create a new environment</h3>
                      </div>
                      <div class="card-body">
                          <form class="form-horizontal" action="#">
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Team</label>
                              <div class="col-sm-9">
                                <input type="text" placeholder="together" class="form-control" id="team">
                              </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Environment</label>
                              <div class="col-sm-9">
                                <input type="text" placeholder="tst" class="form-control" id="environment">
                              </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Location</label>
                              <div class="col-sm-9 select">
                                <select class="form-control" id="location">
                                  <option value="southeastasia">South East Asia</option>
                                  <option value="westeurope">West Europe</option>
                                </select>
                              </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">E-Mail Address</label>
                              <div class="col-sm-9">
                                <input type="email" placeholder="me@me.com" class="form-control" id="email" required="required">
                              </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">VM Password</label>
                              <div class="col-sm-9">
                                <input type="password" placeholder="**********" class="form-control" id="vmPassword">
                              </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-3">
                                  <!--<button type="submit" class="btn btn-secondary">Cancel</button>-->
                                  <button type="submit" class="btn btn-primary" id="create">Save changes</button>
                                </div>
                              </div>
                            </form>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
          </section>

          <% include ../partials/foot %>
        </div>
    </div>
  </div>
</body>
<% include ../partials/footer %>
<script type="text/javascript">
  $(document).ready(function() {

    $("#create").click(function(e) { 
      e.preventDefault();

      var team = $("#team").val();
      var environment = $("#environment").val();
      var location = $("#location").val();
      var email = $("#email").val();
      var vmPassword = $("#vmPassword").val();

      var myData = {"team": team, "environment": environment, "location": location, "email": email};

      /*$.ajax({
        type: "POST",
        url: "/development/create",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: JSON.stringify(myData),
        async: false
      }).done(function(response) {
        alert ('Job started.');
      });*/
    });
  });
</script>
</html>