<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
  <div class="page home-page">
    <header class="header">
      <% include ../partials/header %>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <% include ../partials/sidenav %>
      <div class="content-inner">
        <!-- Page Header-->
        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">Dashboard</h2>
          </div>
        </header>
        <ul class="breadcrumb">
          <div class="container-fluid">
            <li class="breadcrumb-item active">Home</li>
          </div>
        </ul>
        <section class="forms">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                      <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Welcome</h3>
                      </div>
                      <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae quam dolore nostrum odit vitae ab nesciunt deleniti. Atque exercitationem quia modi doloremque consequuntur vitae at laborum, similique sed iure!
                      </div>
                    </div>
                </div>
              </div>
          </section>
        <% include ../partials/foot %>
      </div>
    </div>
  </div>
</body>
<% include ../partials/footer %>
</html>