<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
  <div class="page home-page">
    <header class="header">
      <% include ../partials/header %>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <% include ../partials/sidenav %>
      <div class="content-inner">
        <!-- Page Header-->
        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">Dashboard</h2>
          </div>
        </header>

        

        <% include ../partials/foot %>
      </div>
    </div>
  </div>
</body>
<% include ../partials/footer %>
</html>