<!-- views/pages/virtual_machine.ejs -->

<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="starter-template">
      <h1>Testdeploy</h1>
      <p class="lead">Testdeploy</p>
    </div>

    <div class="page-header">
      <h1>Create</h1>
      <hr>
    </div>
    <form action="">
      <div class="form-group row">
        <label for="prefix" class="col-2 col-form-label">Resource Group Name</label>
        <div class="col-10">
          <input type="input" id="rgName" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="sitename" class="col-2 col-form-label">Site Name</label>
        <div class="col-10">
          <input type="input" id="sitename" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="location" class="col-2 col-form-label">Location</label>
        <div class="col-10">
          <select id="location" class="form-control">
            <option value="westeurope">West Europe</option>
            <option value="southeastasia">South East Asia</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="package" class="col-2 col-form-label">Package</label>
        <div class="col-10">
          <select id="package" class="form-control">
            <option value="small" selected>Small</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="slackChannel" class="col-2 col-form-label">Slack Channel</label>
        <div class="col-10">
          <input type="input" id="slackChannel" class="form-control" placeholder="@Username">
        </div>
      </div>
      <div class="form-group row">
        <input type="button" id="createButton" value="Create" class="btn btn-default">
      </div>
    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</div><!-- /.container -->

<% include ../partials/foot %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#createButton").click(function(e) {
      e.preventDefault();
      
      var rgName = $("#rgName").val();
      var location = $("#location").val();
      var siteName = $("#sitename").val();
      var slackChannel = $("#slackChannel").val();

      var myData = {"name": rgName, "location": location, "siteName": siteName, "slackChannel": slackChannel};

      $.ajax({
        type: "POST",
        url: "/prod/create",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: JSON.stringify(myData)
      }).done(function(response) {
        alert ('Job started.');
      });

      alert ('Job started.');

      /*$.ajax({
        url: '/test'
      }).done(function(response) {
        alert (response);
      })*/
    });
  });
</script>
</body>

</html>