<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="starter-template">
      <h1>Risktech.IO selfservice portal</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</div><!-- /.container -->

<% include ../partials/foot %>

</body>

</html>